{
  "$schema": "https://json.schemastore.org/launchsettings.json",
  "profiles": {
    "http": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": false,
      "applicationUrl": "http://localhost:5555",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "Postgres__ConnectionString": "Host=localhost;Port=5432;Username=jos_stream_database;Password=MyPassword;Database=jos_stream_database;"
      }
    }
  }
}
